.center {
  display: flex;
  justify-content: center;
}

H3 {
  text-align: center
}

#btnAddCar {
    margin-bottom: 2%;
}

#divAddCar{
    display: flex; 
    justify-content: flex-end;
}
#formsContainer{
    display: flex;
    justify-content: center;
}
