<div class="container">
  <header>
    <h3>Dealership: {{dealership.name}}</h3>
    <div id="divAddCar">
      <button id="btnAddCar" class="btn btn-success" (click)="showAddCarForm()">Add New Car</button>
        </div>
  </header>

<mat-card class="card" *ngFor="let car of cars">
  <mat-card-title>{{car.brand}} {{car.modelName}}</mat-card-title>
  <mat-card-subtitle>Price: {{car.price}} лв.</mat-card-subtitle>
  <mat-card-content>
    <p>Transmission: {{car.transmission}}</p>
    <p>Horse power: {{car.horsePower}}</p>
    <img src="{{car.carPictures[0]?.picturePath}}">
  </mat-card-content>
  <mat-card-actions>
    <button type="button" class="btn btn-secondary btn-sm mr-2" (click)="checkCar($event, car)">Check
      car</button>
    <button type="button" class="btn btn-info btn-sm mr-2" (click)="showEditCarForm(car)">Edit</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="removeCar(car)">Delete</button>
  </mat-card-actions>
</mat-card>
</div>

<div class="container" id="formsContainer">
  <div class="row">
    <div class="col-md-12 mt-4">
      <div class="mt-4">
        <form *ngIf="carForm">
          <h2>Add New Car</h2>
          <p>Model Name: <input type="text" name="modelName" [(ngModel)]="newCar.modelName" /></p>
          <p>Brand: <input type="text" name="brand" [(ngModel)]="newCar.brand" /></p>
          <p>Transmission: <input type="transmission" name="brand" [(ngModel)]="newCar.transmission" /></p>
          <p>Type: <input type="text" name="type" [(ngModel)]="newCar.type" /></p>
          <p>Color: <input type="text" name="color" [(ngModel)]="newCar.color" /></p>
          <p>Manufacture Year: <input type="text" name="manufactureYear" [(ngModel)]="newCar.manufactureYear" /></p>
          <p>Emission Standard: <input type="text" name="emissionStandard" [(ngModel)]="newCar.emissionStandard" /></p>
          <p>Horse Power: <input type="text" name="horsePower" [(ngModel)]="newCar.horsePower" /></p>
          <p>Truck Capacity: <input type="text" name="truckCapacity" [(ngModel)]="newCar.truckCapacity" /></p>
          <p>Price: <input type="text" name="price" [(ngModel)]="newCar.price" /></p>
          <p>
            <button type="button" class="btn btn-primary mr-2" (click)="saveCar(newCar)">Submit</button>
            <button type="button" class="btn btn-warning" (click)="cancelNewCar()">Cancel</button>
          </p>
        </form>

        <form *ngIf="editCarForm">
          <h2>Edit Car Details</h2>
          <p>Model Name: <input type="text" name="modelName" [(ngModel)]="editedCar.modelName" /></p>
          <p>Brand: <input type="text" name="brand" [(ngModel)]="editedCar.brand" /></p>
          <p>Transmission: <input type="transmission" name="brand" [(ngModel)]="editedCar.transmission" /></p>
          <p>Type: <input type="text" name="type" [(ngModel)]="editedCar.type" /></p>
          <p>Color: <input type="text" name="color" [(ngModel)]="editedCar.color" /></p>
          <p>Manufacture Year: <input type="text" name="manufactureYear" [(ngModel)]="editedCar.manufactureYear" /></p>
          <p>Emission Standard: <input type="text" name="emissionStandard" [(ngModel)]="editedCar.emissionStandard" /></p>
          <p>Horse Power: <input type="text" name="horsePower" [(ngModel)]="editedCar.horsePower" /></p>
          <p>Truck Capacity: <input type="text" name="truckCapacity" [(ngModel)]="editedCar.truckCapacity" /></p>
          <p>Price: <input type="text" name="price" [(ngModel)]="editedCar.price" /></p>
          <p>
            <button type="button" class="btn btn-primary mr-2" (click)="updateCar()">Submit</button>
            <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

